html
    head
        title AnExtraEuro
        script(src="https://cdn.tailwindcss.com")
    body
        h1 #{projectData.NOME}
        div
            p(name="ID", style="visibility: hidden;") #{projectData.ID}
            p(name="DESCRIZIONE") #{projectData.DESCRIZIONE}
            p(name="PROPRIETARIO") #{projectData.ACCOUNT_NICKNAME}
            p(name="CATEGORIA") #{projectData.CATEGORIA_NOMINATIVO}
            p(name="OBBIETTIVO") #{projectData.OBBIETTIVO} €
            p(name="DONAZIONI")
            script.
                fetch('/somma', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ projectId: document.querySelector("p[name='ID']").textContent})
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Dati ricevuti:', data);
                    const p = document.querySelector('p[name="DONAZIONI"]');
                    p.textContent = "DONAZIONI: " + data.sommaSoldi + " €";
                })
                .catch(error => console.error('Errore nel recupero delle categorie:', error));
        div(style="position: absolute; top: 10px; right: 10px;")
            p(style="color: red; font-weight: bold;") #{data} 
        
        div(style="position: fixed; top: 50px; right: 10px; color: red; font-weight: bold")
            button(onclick="home()") Home
        
        if projectData.ACCOUNT_NICKNAME !== data
            form
                div 
                    input(type="number", name="quota", placeholder="Inserisci quanto vuoi donare", required, min="0", step="1")
                    input(type="submit", value="Donare")

        script.
            document.querySelector('form').addEventListener('submit', async function (e) {
                e.preventDefault();
                const VALORE_DONAZIONE = document.querySelector("input[name='quota']").value;
                const ACCOUNT_NICKNAME = document.querySelector("p[name='PROPRIETARIO']").textContent;
                const PROGETTO_ID = document.querySelector("p[name='ID']").textContent;

                const res = await fetch('/donare', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ VALORE_DONAZIONE,  ACCOUNT_NICKNAME, PROGETTO_ID})
                }).then(() => {
                    window.location.href = `/`;
                });
            });

            function home() {
                fetch('/login/log', {
                    method: 'GET'
                }).then(() => {
                    window.location.href = '/';
                });
            }
        